:root {
  --purple: rgb(129, 81, 176);
  --white: #fff;
  --shadow: #222;
  --errorPink: rgb(240, 180, 193);
  --appFont: Avenir, Avenir Next, "Segoe UI", sans-serif;
}

html,
body,
h1,
h2,
h3,
p,
div,
form,
ul,
li,
blockquote,
fieldset,
legend,
input,
select,
button,
label {
  margin: 0;
  padding: 0;
  font-size: unset;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

body {
  font-family: var(--appFont);
  padding: 0;
}

header {
  background-color: var(--purple);
  color: var(--white);
  padding: 10px;
  display: flex;
  align-items: baseline;
}

header h1 {
  flex: 1;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

input,
button,
select {
  font-family: inherit;
}

header button {
  background: var(--white);
  color: var(--purple);
}

main button {
  background: var(--purple);
  color: var(--white);
}

main {
  background-image: linear-gradient(to bottom, var(--shadow), var(--white));
  background-position: top left;
  background-size: auto 3px;
  background-repeat: no-repeat;
  padding: 10px 15px 10px 10px;
  min-height: 1em;
}

.round-button {
  padding: 8px 16px;
  border-radius: 100px;
  border-width: 0;
  box-shadow: 0px 1px 3px var(--shadow);
}

.round-button:hover {
  transform: translate(1px, 1px);
  box-shadow: -1px 0px 3px var(--shadow);
}

fieldset {
  border: 1px solid var(--purple);
  border-width: 0 0 1px;
  margin-bottom: 6px;
  padding-bottom: 4px;
}

legend {
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-bottom: 2px solid var(--purple);
  width: 100%;
  font-weight: bold;
  margin-bottom: 6px;
}

.field {
  display: flex;
  padding: 3px;
}

.field-label {
  width: 9em;
  text-align: right;
  padding-right: 1em;
}

.field-label + * {
  flex: 1;
}

.field-radio label {
  margin-right: 0.5em;
}

.disabled {
  opacity: 0.5;
}

textarea {
  height: 5em;
  font: inherit;
  font-size: 0.8em;
}

.error {
  background: var(--errorPink);
}

.controls {
  margin-top: 12px;
  display: flex;
  align-items: baseline;
}

.controls .errors {
  padding-left: 1em;
}

a {
  color:  var(--purple);
}

.output {
  min-height: 8em;
  margin-top: 1em;
}

ul.documents li::before {
  content: url(doc16.svg);
  margin: 0px 6px 0 0;
  position: relative;
  top: 2px;
}

::placeholder {
  color: #bbb;
  font-style: italic;
}