<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Generator</title>
    <script src="vue.js"></script>
    <script defer src="client.js"></script>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class="app">
      <header>
        <div v-if="!template">
          <button @click="loadTemplate" class="round-button">
            Open template
          </button>
        </div>
        <h1 v-if="template">{{template.name}}</h1>
      </header>
      <main>
        <template v-if="template">
          <template v-for="item in template.fields">
            <template v-if="item.group">
              <fieldset>
                <legend>{{item.label}}</legend>
                <template v-for="inner in item.fields">
                  <field
                    v-bind:definition="inner"
                    v-model="fieldValues[inner.name]"
                    v-bind:enabled="inner.dependsOn ? fieldValues[inner.dependsOn] : true"
                    v-bind:error="fieldErrors[inner.name]"
                  ></field>
                </template>
              </fieldset>
            </template>
            <template v-else>
              <field
                v-bind:definition="item"
                v-model="fieldValues[item.name]"
                v-bind:enabled="item.dependsOn ? fieldValues[item.dependsOn] : true"
                v-bind:error="fieldErrors[item.name]"
              ></field>
            </template>
          </template>
          <div class="controls">
            <button @click="generate" class="round-button">
              Generate Documents
            </button>
            <div v-if="errorCount > 0" class="errors">
              Please correct the highlighted errors.
            </div>
          </div>
          <div class="output">
            <fieldset v-if="this.documents.length > 0">
              <legend>Generated documents:</legend>
              <ul class="documents">
                <li v-for="document in this.documents" @click="launch(document.path)">
                  <a href="javascript:void 0"
                    >{{document.filename}}</a
                  >
                </li>
              </ul>
            </fieldset>
          </div>
        </template>
      </main>
    </div>
  </body>
</html>
